.dashboard-wrap {
  height: 100%;
  .header {
    background: #fff;
    padding: 0;
    padding: 0 10px;
    // display: flex;
    // justify-content: space-between;
  }
  .title {
    font-size: 24px;
    color: #000;
    font-weight: bold;
  }
  .content {
    margin: 15px 15px 0;
    background: #fff;
    min-height: 280px;
    position: relative;
    padding: 20px;
    display: flex;
    overflow-y: auto;
  }
  .logo {
    background: url("~@src/images/logo_dx.png") center center no-repeat;
    background-size: contain;
    height: 50px;
    margin: 16px 12px;
  }
  .fullHeight {
    min-height: 100vh;
    position: relative;
  }
}

.padding-0 {
  padding: 0 !important;
}

.overflow-hidden {
  overflow: hidden !important;
}
