.dashboard-wrap {
  height: 100%;
  .header {
    background: #fff;
    padding: 0;
    padding: 0 10px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .breadcrumb-header {
    background: #fff;
    padding: 0 0 0 15px;
    height: 48px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 12px 0 rgba(157, 157, 157, 0.1);
    border-top: 1px solid #dfe2e6;
  }
  .title {
    font-size: 24px;
    color: #000;
    font-weight: bold;
  }
  .content {
    margin: 15px 15px 0;
    background: #fff;
    min-height: 280px;
    position: relative;
    padding: 20px;
    display: flex;
    overflow-y: auto;
  }
  .fullHeight {
    min-height: 100vh;
    position: relative;
  }
}

.padding-left-200 {
  padding: 0 0 0 200px !important;
}

.overflow-hidden {
  overflow: hidden !important;
}
