.wrap {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	.top {
		display: flex;
	}
	.content {
		flex: 1;
		display: flex;
		margin-top: 20px;
		.left,
		.right {
			padding: 20px;
			background: #f9f9f9;
			flex: 50%;
			.header {
				display: flex;
				align-items: center;
				font-size: 16px;
				.icon {
					display: inline-block;
					width: 26px;
					height: 24px;
					margin-right: 10px;
				}
			}
			.body {
			}
			.no-data {
				position: absolute;
				display: inline-flex;
				flex-direction: column;
				align-items: center;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				.no-data-icon {
					display: inline-block;
					width: 200px;
					height: 128px;
					background-image: url("~@src/images/home/icon-index-warn-logo.png");
					background-repeat: no-repeat;
					background-size: cover;
				}
			}
		}
		.right {
			.body {
				position: relative;
				height: calc(100% - 30px);
				text-align: center;
			}
		}
		.left {
			margin-right: 10px;
			flex: 50%;
			display: flex;
			flex-direction: column;
			.body {
				flex: 1;
			}
		}
	}
}

.box {
	border: 1px solid #0979f7;
	border-radius: 10px;
	padding: 20px 15px;
	background-color: #f3f9ff;
	font-size: 14px;
	height: 100px;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-repeat: no-repeat;
	background-position: 90% 80%;
	&:nth-child(1) {
		background-image: url("~@src/images/home/icon-index-item-01.png");
		&:hover {
			background-image: url("~@src/images/home/icon-index-item-hover-01.png");
		}
	}
	&:nth-child(2) {
		background-image: url("~@src/images/home/icon-index-item-02.png");
		&:hover {
			background-image: url("~@src/images/home/icon-index-item-hover-02.png");
		}
	}
	&:nth-child(3) {
		background-image: url("~@src/images/home/icon-index-item-03.png");
		&:hover {
			background-image: url("~@src/images/home/icon-index-item-hover-03.png");
		}
	}
	&:nth-child(4) {
		background-image: url("~@src/images/home/icon-index-item-04.png");
		&:hover {
			background-image: url("~@src/images/home/icon-index-item-hover-04.png");
		}
	}
	&:nth-child(5) {
		background-image: url("~@src/images/home/icon-index-item-05.png");
		&:hover {
			background-image: url("~@src/images/home/icon-index-item-hover-05.png");
		}
	}
	cursor: pointer;
	&:not(:last-child) {
		margin-right: 10px;
	}
	.row-1 {
	}
	.row-2 {
		display: flex;
		justify-content: space-between;
		align-items: center;
		span {
			font-size: 18px;
			font-weight: bold;
			color: #0979f7;
		}
	}
	&:hover {
		background-color: #0979f7;
		color: #fff;
		.row-2 {
			span {
				color: #fff;
			}
		}
	}
}
