.container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	font-size: 14px;

	.title {
		font-weight: bolder;
		margin: 20px 0;
	}
	
	.detail-container {
		width: 100%;
		box-sizing: border-box;
		padding-left: 30px;
		margin-bottom: 10px;

		> div {
			margin: 10px 0;
		}
	}
}